@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    
    
  }

  


  /* ribbon styles */
span.sale-shop {
  position: absolute;
  width: 48px;
  height: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  padding-left: 5px;
  background: #008910;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 100%, 0% 0%, 25% 0%);
}